.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--gray-100);
  margin-bottom: 0.5rem;
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}

.metricsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.metricsRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.statsCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .metricsGrid,
  .metricsRow {
    grid-template-columns: 1fr;
  }
}

/*@media (max-width: 560px) {*/
/*  .cardWrapper {*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/
/*}*/