.toast {
  padding: 0.75rem 1.25rem;
  border-radius: var(--border-radius);
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.5s ease,transform 0.5s ease;
  z-index: 1000;
}

.toast.success {
  background-color: #22c55e;
}

.toast.error {
  background-color: #ef4444;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.hide {
  opacity: 0;
  transform: translateX(100%);
}


