.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-block: 2rem;
}

.label {
  font-size: var(--font-size-sm);
  color: #ffffff;
}

@media (max-width: 600px) {
 .form {
   display: block;
 }
}

